.paragraph-1{
    font-size: 16px;
    line-height: 1.5;
    color: #333;

}

.paragraph-2 {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

table{
    width: 90%;
    border: 1px solid #ccc;
    padding: 8px solid red;
    margin: 16px 0 orange;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}